<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,600" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> 
    <title>Document</title>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">HTMX Simple Table Dashboard</a>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
    <script>
        document.body.addEventListener("htmx:configRequest", (e) => {
          e.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
        });
      </script>
</body>
</html>